.App {
  width: 40%;
  margin: 0 auto;
  background-color:aqua;
  text-align: center;
  padding-right: 29px;
  border:15px solid #fff;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: 50px;
}
.App__som{
  margin-left: 0 auto;
  margin-right: 0 auto;
}
body{
  background-color:aqua;
}
